<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="courseForm">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">{{'HOME_PAGE.ADD_COURSE'|translate}}</h4>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-2">
                        <label data-error="wrong" data-success="right" for="courseType">{{'FORMS.COURSE_TYPE'|translate}}</label>
                        <input type="text" id="courseType" name="courseType" ng-model="courseInstance.courseType" class="form-control validate" validation="required">
                    </div>
                    <div class="md-form mb-2">
                        <label data-error="wrong" data-success="right" for="heading">{{'FORMS.HEADING'|translate}}</label>
                        <input type="text" id="heading" name="heading" ng-model="courseInstance.heading" class="form-control validate" validation="required">
                    </div>
                    <div class="md-form mb-2">
                        <label data-error="wrong" data-success="right" for="description">{{'FORMS.DESCRIPTION'|translate}}</label>
                        <input type="text" id="description" name="description" ng-model="courseInstance.description" class="form-control validate" validation="required">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary" ng-click="addCourse(courseInstance)" ng-disabled="courseForm.$invalid">{{'FORMS.BUTTON_ADD'|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 
<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#trainerModal">Launch
    Modal Login Form</a>
</div> -->