/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .card-width {
        width: 100% !important;
    }

    .login-card {
        margin-top: 0% !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card-width {
        width: 100% !important;
    }

    .login-card {
        margin-top: 0% !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .login-card {
        margin-top: 10% !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card-width {
        width: 27% !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card-width {
        width: 27% !important;
    }
     .login-card {
        margin-top: 10% !important;
    }
}