<div class="containe padding-topr">
    <div class="row padding-top">
        <div class="col-lg-3 col-sm-3 no-pad-margin">
            <button class="btn btn-primary " ng-click="openTrainerModal()">{{'HOME_PAGE.ADD_TRAINER'|translate}}&nbsp;
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div ng-if="allTrainers.length==0">
            <h3>
                {{'FORMS.NO_RESULT_FOUND'|translate}}
            </h3>
        </div>
        <table class="table table-condensed table-hover table-striped" ng-if="allTrainers.length!=0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{'FORMS.TRAINER_ID'|translate}}</th>
                    <th>{{'FORMS.FULLNAME'|translate}}</th>
                    <th>{{'FORMS.EMAIL'|translate}}</th>
                    <th>{{'FORMS.MOBILE'|translate}}</th>
                    <th>{{'FORMS.ACTION'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="train in allTrainers track by $index">
                    <td>{{$index}}</td>
                    <td>{{train._id}}</td>
                    <td>{{train.fullname}}</td>
                    <td>{{train.email}}</td>
                    <td>{{train.mobile}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteTrainerById(train)">{{'FORMS.ACTION_DELETE'|translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>